<h2 class="m-0 p-0 text-white">Client</h2>
<table class="table table-striped bg-white mt-1 p-1">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!--nomecontatto-->
            <th scope="col">Lastname</th>
            <!--cognomecontatto-->
            <th scope="col">Phone</th>
            <!--telefono-->
            <th scope="col">Email</th>
            <!--emailContatto-->
            <th scope="col">Ragione Sociale</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of client;index as i;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nomeContatto}}</td>
            <td>{{item.cognomeContatto}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.emailContatto}}</td>
            <td>{{item.ragioneSociale}}</td>
            <td>
                <button type="button" class="btn  " (click)="detail(item)"><i class="bi bi-info-square-fill" style="font-size: 25px;"></i></button>
            </td>
            <td>
                <button type="button" class="btn  " (click)="removeClient(item)"><i
                        class="bi bi-trash-fill" style="font-size: 25px;"></i></button>
            </td>
        </tr>
    </tbody>
</table>