
  <div id="carouselExampleIndicators" class="carousel slide m-0 p-0" data-ride="carousel">
   
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img class="d-block w-100"  alt="First slide">
        <div class="carousel-caption  d-none d-md-block">
          <!-- <h5>Slider One Item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Slider One Item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p> -->
        </div>
      </div>
      <span>
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://a-static.besthdwallpaper.com/marble-paint-splash-wallpaper-2560x768-16965_69.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Slider One Item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p> -->
        </div>
      </div>
      </span>
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
          <a class="contorno navbar-brand" [routerLink]="['/Home']" routerLinkActive="router-link-active" href="#">Final Project</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class=" contorno nav-link" [routerLink]="['/Home']" routerLinkActive="router-link-active"  href="#">Home</a>
              </li>
              <li class=" nav-item">
                <a class="contorno nav-link" [routerLink]="['/Tabella']" routerLinkActive="router-link-active" href="#">Client</a>
              </li>
              <li class="nav-item">
                <a class="contorno nav-link" [routerLink]="['/Addclient']" routerLinkActive="router-link-active" href="#">Add Client</a>
              </li>
              <li class="nav-item">
                <a class="contorno nav-link" [routerLink]="['/Fatture']" routerLinkActive="router-link-active" href="#">Enovoice</a>
              </li>
              <li>
                <a class="contorno nav-link" [routerLink]="['/AddFatture']" routerLinkActive="router-link-active" href="#">Add Envoice</a>
              </li>
    
           
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
   
  </div>
  
  
  
  
  
